body {
  margin-top: 2%;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 750px;
  margin: 15px auto;
  position: relative;
}

.sale {
  background-color: orangered;
  display: inline-block;
  position: absolute;
  text-transform: uppercase;
  top: -14px;
  left: -35px;
  padding: 0 15px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
}

.product {
  font-family: sans-serif;
  line-height: 2;
  font-size: 15px;
  border: 3px solid black;
}

/* product */
.product-title {
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px 15px;
  background-color: lightgrey;
  text-align: center;
}

.price {
  font-size: 20px;
  line-height: 1;
}

.shipping {
  text-transform: uppercase;
  font-size: 10px;
  color: grey;
  margin-bottom: 15px;
}

a:link,
a:visited {
  color: black;
  display: inline-block;
  margin-bottom: 15px;
}

a:hover,
a:active {
  text-decoration: none;
}

/* colors */
.color {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
}

.color-black {
  background-color: black;
}

.color-blue {
  background-color: blue;
}

.color-red {
  background-color: red;
}

.color-yellow {
  background-color: yellow;
}

.color-green {
  background-color: green;
}

.color-brown {
  background-color: brown;
  margin-right: 0;
}

/* product details */
.details-title {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 13px;
}

.details-list {
  margin-left: 20px;
  list-style: square;
}

/* Button */
.add-cart {
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  padding: 15px;
  border-style: none;
  border-top: 3px solid black;
}

.add-cart:hover {
  background-color: black;
  color: white;
}
